.score-input {
	width: 35px
}

.team-input {
	width: 150px
}

.date-input {
	width: 100px
}

.bet-team-home {
	text-align: right;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
}

.bet-team-away {
	text-align: left;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
}

.bet-button {
	text-align: center;
	padding-top: 15px;
}

.bet-row {
	margin: 10px;
	text-align: center;
}

.tablesorter-bootstrap tbody > .odd:hover > td, .tablesorter-bootstrap tbody > .even:hover > td {
	background-color: #999999; !important
}

#rankingModal .modal-dialog
{
  width: 800px;
}

